server:
  port: 8085

spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:postgresql://localhost:5432/identitydb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

keycloak:
  auth-server-url: http://localhost:8080
  realm: cleanslice
  resource: gateway-service
  credentials:
    secret: gateway-service-secret
  admin:
    username: admin
    password: admin
  server-url: http://localhost:8080
  admin-username: admin
  admin-password: admin

logging:
  level:
    dev.cleanslice.platform.identity: DEBUG