spring:
  application:
    name: product-service
  profiles:
    active: dev

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

logging:
  level:
    dev.cleanslice.platform: DEBUG

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://localhost:5434/productdb
    username: productuser
    password: productpass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true

kafka:
  bootstrap-servers: localhost:9092

keycloak:
  url: http://localhost:8080
  realm: cleanslice

---
spring:
  config:
    activate:
      on-profile: docker

  datasource:
    url: ${PRODUCT_DB_URL}
    username: ${PRODUCT_DB_USER}
    password: ${PRODUCT_DB_PASS}

  jpa:
    hibernate:
      ddl-auto: validate

kafka:
  bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS}

keycloak:
  url: ${KEYCLOAK_URL}
  realm: ${KEYCLOAK_REALM}

---
spring:
  config:
    activate:
      on-profile: mock

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.oauth2.resource.servlet.OAuth2ResourceServerAutoConfiguration